<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Page</title>
    </head>
    <body>
        <h1>회원정보수정</h1>
        <hr />
        <form method="post">
            <fieldset>
                <legend>Data</legend>
                <table>
                    <tr>
                        <td><label>Username</label></td>
                        <td><input type="text" name="Username" value="<%= data.Username %>" /></td>
                    </tr>
                    <tr>
                        <td><label>ID</label></td>
                        <td><input type="text" name="Id" value="<%= data.Id %>" /></td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td><input type="text" name="Password" value="<%= data.Password %>" /></td>
                    </tr>
                </table>
                <input type="submit" />
            </fieldset>
        </form>
    </body>
</html>
